.designerGridLayoutItem-wrap {
	width: 100%;
	height: 100%;
	border: 1px solid #D8DBE2;
	border-radius: 8px;
	overflow: hidden;
	vertical-align: top;
	cursor: pointer;
	font-size: 1.4em;
	-webkit-user-select: none;
	text-align: center;
	box-sizing: border-box;
	position: relative;
	display: flex;
	display: -ms-flexbox;
	-ms-flex-pack: center;
	-ms-flex-direction: column;
	
	& .designerGridLayoutItem-text {
		font-size: 14px !important;
		line-height: 20px !important;
		color: #252F40 !important;
		letter-spacing: -0.02em;
	}

	&:hover {
		background-color: #FFEFE9;
	}
}

.designerGridLayoutItem-text {
	align-self: center;
	margin: 0 auto;
}

.designerGridLayoutItem-pressed {
	background-color: #FFEFE9;
	
	&:hover {
		background-color: #FFEFE9;
	}
}